<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form th:method="post" th:action="@{/admin}" th:object="${user}">

    <label for="username">Login</label>
    <input type="text" required th:field="*{username}" id="username"/>
    <br>

    <label for="password">Password</label>
    <input type="text" required th:field="*{password}" id="password"/>
    <br>

    <input type="submit" value="Add User"/>
    <br>
    <br>

    <button><a th:href="@{/logout}">Logout</a></button>

</form>
</body>
</html>